/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jul 16, 2014, 3:20:14 PM
    Author     : Administrator
*/

@font-face {
    font-family: 'HelveticaNeueLight';
    src:url('../fonts/helveticaneue-light-webfont.eot');
    src:url('../fonts/helveticaneue-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helveticaneue-light-webfont.woff') format('woff'),
        url('../fonts/helveticaneuelight.ttf') format('truetype'),
        url('../fonts/helveticaneue-light-webfont.svg#MuseoIcons') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src:url('../fonts/helveticaneue.eot');
    src:url('../fonts/helveticaneue.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helveticaneue.woff') format('woff'),
        url('../fonts/helveticaneue.ttf') format('truetype'),
        url('../fonts/helveticaneue.svg#MuseoIcons') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueBold';
    src:url('../fonts/helveticaneuebold.eot');
    src:url('../fonts/helveticaneuebold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helveticaneuebold.woff') format('woff'),
        url('../fonts/helveticaneuebold.ttf') format('truetype'),
        url('../fonts/helveticaneuebold.svg#MuseoIcons') format('svg');
    font-weight: normal;
    font-style: normal;
}

html{
	height: 100%;
}
body{
	font-family: 'HelveticaNeueLight', arial, sans-serif;
	font-size: 12px;
	height: 100%;
}
a{
	color: #0c0c0c;
	text-decoration: none;
}
.container{
	width: 978px;
}
.clear{
	float: none;
	clear: both;
}
.selectpicker{}

.text-field{
	outline: none;
	text-shadow: 0 1px 0 #fff;
	background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
	background-image: -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
	background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 2px 8px;
	font-size: 11px;
}

/*Pagination*/
#page-selection-listing, #page-selection-note, #page-selection-property, #page-investor-properties{
	text-align: center;
}
.pagination{
	margin: 15px auto;
}
.pagination li{
}
.pagination > li > a, .pagination > li > span{
	border: none;
	background: none;
	font-family: "HelveticaNeueBold";
	font-size: 12px;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus{
	background-color: #4a7da1;
	color: #fff;
}
.pagination > li:hover >a{
	background: none;
	border: none;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus{
	cursor:text;
}
.pagination .prev.disabled a, .pagination .next.disabled a{
	background: none!important;
	color: #333!important;
}

.wrapper{
	background: url('../img/site_background.jpg') #000 no-repeat top left;
	background-size: 100%;
	min-height: 100%;
}

.container{
	padding-left: 30px;
}

/*Navigation*/
.navbar{
	margin-bottom: 0px;
}
.navbar .container{
	height: 108px;
	background-color: #fff;
}
.navigation ul li a:hover{
	background: none;
}

.navbar .navigation{
	margin-top: 28px;
	float: right;
	margin-right: 10px;
}
.navbar .navigation ul li a{
	color: #6f6f6f;
	padding-bottom: 5px;
	margin-left: 35px;
	padding-right:0px;
	padding-left: 0px;
}
.navbar .navigation ul li.active a{
	border-bottom: 9px solid #d93714;
}
.navbar .navigation ul li a:hover{
	border-bottom: 9px solid #d93714;
}
.navbar-nav{
	padding: 0px;
}
.navbar-nav li{
	list-style: none;
}
.navbar-nav li a{
	padding: 0px 3px;
	display: inline-block;
}
.navbar-nav li.alpha a{
	padding-left: 0px;
	margin-left: 0px;
}
.navbar-nav li.beta a{
	padding-right: 0px;
	margin-right: 0px;
}
/*End Navigation*/

/*Dashboard Menu*/
.dashboard-menu .container{
	padding: 0px;
	height: 38px;
	background: url('../img/dashboard_back.png') transparent repeat-x left top;
}
.dashboard-menu .container .navigation{
	padding: 0px;
}
.dashboard-menu .container ul li a{
	color: #fff;
	padding: 9px 20px;
	font-size: 10px;
	text-transform: uppercase;
	border-left: 1px solid #b7b9c4;
	border-right: 1px solid #4e515d;
}
@-moz-document url-prefix() {
    .dashboard-menu .container ul li a{
		padding: 9px 18px;
	}

}
.dashboard-menu .container ul li a.first{
	padding-left: 50px;
}
.dashboard-menu .container ul li a.last{
	padding-right: 34px;
}
.dashboard-menu .container ul li.active a{
	background: url('../img/dashboard_back_hover.png') transparent repeat-x left top;
}
/*End Dashboard Menu*/

/*Dashboard Main*/
.dashboard-main .container{
	background: url('../img/dashboard_main_back.png') transparent repeat-y left top;
	padding-bottom: 35px;
}
.dashboard-main .dashboard-mark{
	color: #fff;
	margin-top: 28px;
}
.dashboard-main .dashboard-mark .first{
	margin-left: 0px;
	margin-right: 18px;
	width: 670px;
	height: 85px;
	background: url('../img/admin_dashboard_mark_back.png') transparent repeat left top;
}
.dashboard-main .dashboard-mark .first .alpha p{
	font-family: "Times Roman";
	font-size: 10px;
}
.dashboard-main .dashboard-mark .first h1{
	font-size: 34px;
	font-family: "Times Roman";
	font-style: italic;
	margin-top: 14px;
	margin-bottom: 4px;
}
.dashboard-main .dashboard-mark .first .beta h1 span{
	font-size: 25px;
	font-style: normal;
}
.dashboard-main .dashboard-mark .first .beta p{
	font-family: "HelveticaNeue";
	font-size: 10px;
}
.inner-content{
	font-size: 10px;
	padding-right: 0px;
	padding-left: 0px;
}
/*End Dashboard Main*/
/*Tab Section*/
.tab-content{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #fff;
	float: left;
}
.nav-tabs > li > a{
	background-color: #b1b1b1;
	font-family: 'HelveticaNeueBold';
	font-size: 12px;
	text-transform: uppercase;
	color: #ff0000;
}
/*End Tab Section*/

/*Login Page*/
#login_page .main .container{
	min-height: 580px;
	background: url('../img/login_background.png') transparent repeat top left;
}
#login_page .main .login_mark{
	margin-top: 155px;
	margin-left: 30px;
}
#login_page .login-form-wrapper{
	margin-top: 80px;
}
#login_page .login-form-wrapper .login_text{
	margin-bottom: 6px;
}
#login_page #register{
	display: block;
	margin-top: 3px;
	margin-left: -5px;
}
#login_page #frm_login .form-item{
	height: 40px;
}
#login_page #frm_login input{
	border: none;
	outline: none;
	color: #999;
}
#login_page #frm_login .form-input-item input{
	padding: 10px 20px;
	height: 31px;
	width: 265px;
	background: url('../img/input_back.png') transparent no-repeat;
}
#frm_login .forgot-password{
	margin-top: 10px;
	color: #eee;
}
#frm_login .forgot-password a{
	color: #eee;
	text-decoration: none;
}
#frm_login .text-right{
	text-align: right;
}

/*End Login Page*/

/*Footer Section*/
.footer{}
.footer .container{
	height: 111px;
	background: url('../img/footer_back.png') transparent repeat top left;
}
.footer .navigation{
	margin-top: 30px;
	margin-bottom: 20px;
}
.footer ul li a{
	color: #d93714;
	padding-left: 10px;
	padding-right: 10px;
}
.footer .copyright ul li a{
	color: #6c6c6c;
	margin-top: -18px;
}
.footer .copyright ul li a:hover{
	background: none;
}
/*End Footer*/